<nav class="btn-group">
<%= link_to "About", about_path,:class => 'btn' %></li>
<%= link_to "Contacto", contacto_path , :class => 'btn' %>
<%= link_to "Ayuda", ayuda_path , :class => 'btn' %>

</nav>
